<template name="home">
    <div class="template-home">
        <button class="btn btn-primary" id="record">Record</button>
        <button class="btn btn-primary" id="stop">Stop recording & get transcript</button>
        <div style="margin-top: 20px;margin-bottom: 800px">
            <p id="recordingON" style="font-size: 18px;">Currently recording...</p>
            {{>loading}}
            <div id="result">
                <h4>Transcript result :</h4>
                <p id="transcript" style="font-size: 18px"></p>
            </div>

            <p id="err" style="color: red;"></p>
        </div>
    </div>
</template>
